.App {
  text-align: center;
  color: #f6f6f6;
  font-size: 1.3rem;
}

.main{
  background-color: #121212;
  min-height: 100vh;
}
.ResultsPlaylist{
  display: flex;
  justify-content: center;
  column-gap: 5rem;

}